@font-face {
  font-family: "norsebold";
  src: url("../src/font/norse-bold-webfont.woff2") format("woff2"),
    url("../src/font/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  /* outline: 1px solid black; */
}

html {
  line-height: 1.5rem;
}

body {
  height: 100vh;
  display: flex;
  --side-width: 34.8vw;

  --main-color: hsl(92, 20%, 35%);
  --invalid-color: hsl(0, 97%, 57%);
  --valid-color: hsl(240, 97%, 57%);
  --valid-color: var(--main-color);
}

.side-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: linear-gradient(to top, #0a2027, #596d48);
  /* background: center / cover no-repeat url(/src/img/background.jpg); */
  width: var(--side-width);
  padding-top: 120px;

  color: white;
  .img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    background-color: rgba(0, 0, 0, 0.429);
    font-size: 65px;
    font-family: norsebold;

    img {
      height: 90%;
    }
  }

  .credits-div {
    padding: 10px 0;
    font-size: 10px;
    text-align: center;
    a {
      color: inherit;
    }
  }
}

main {
  --left-padding: 50px;
  width: calc(100vw - var(--side-width));
  height: 100vh;
  background-color: #f9fafb;

  overflow: hidden auto;
  padding-left: var(--left-padding);
  display: flex;
  flex-direction: column;
  justify-content: safe center;

  .layout-wrapper {
    width: 36vw;

    & > * {
      margin: 24px 0;
    }

    .description {
      font-weight: 600;
    }

    .form {
      padding: 5px 0 15px;
      position: relative;
      color: #1f2937;
      background-color: transparent;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        left: calc(-1 * var(--left-padding));
        width: calc(100vw - var(--side-width));
        height: 100%;
        background-color: white;
        box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.15);
        z-index: -1;
      }

      h2 {
        font-size: 1.2rem;
        font-weight: 600;
      }

      form {
        display: flex;
        flex-wrap: wrap;

        .form-field {
          padding: 0 10% 2% 0;
          flex-grow: 1;
          flex-basis: max(150px, 50%);
          min-width: 150px;

          label {
            letter-spacing: 0.05rem;
            font-size: 0.61rem;
            font-weight: 600;
          }

          input {
            padding: 3px 9px;
            width: 100%;
            border-radius: 0.2rem;
            border: 1px solid #e5e7eb;
            font-size: 1rem;

            &:user-invalid {
              border: 1px solid var(--invalid-color);
            }

            &:user-valid {
              border: 1px solid var(--valid-color);
            }
          }

          .msg-invalid {
            color: var(--invalid-color);

            font-size: 0.7rem;
            width: 100%;

            opacity: 0%;
            max-height: 0;
            overflow: hidden;
            transition: all 1s;
          }

          &:has(input:user-invalid:placeholder-shown) .msg-required {
            opacity: 100%;
            max-height: 100px;
          }

          &:has(input:user-invalid:not(:placeholder-shown)) .msg-format {
            opacity: 100%;
            max-height: 100px;
          }
        }
      }
    }

    .submit {
      font-size: 0.8rem;

      button {
        margin: 10px 0px;
        font-weight: 700;
        border-radius: 0.5em;
        padding: 1em 3em;

        color: #fff;
        background-color: #596d48;
        border: none;
        box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.15);

        &:hover {
          background-color: #85a16c;
        }

        &:active {
          background-color: #39462e;
        }
      }

      p {
        a {
          color: #596d48;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}

/* :not(:has(.form)):not(.form):not(.form *) {
  border: 1px solid red;
  visibility: hidden;
} */
